 body {
            background-image:url("Images/white-background.jpg");
            background-size:cover;

        }
        .jumbotron{
            align-items:center;
            text-align:center;
            background-color: black;
            background-size:cover;
            margin-bottom: 0px;
        }
        .jumbotron h3{
            color:white;
            font-weight: bold;
            width:60%;
            margin-right:auto;
            margin-left:auto;
            text-align:center;
        }
        .jumbotron Logo{
            width:200px;
            height:40%;
        }


        .jumbotronFooter{
            background-color:#0078F0;
            align-content:center;
            text-align:center;
            margin-bottom:0px;

        }

        .jumbotronFooter h3{
            font-family: 'Adobe Devanagari';
            color:White;
            font-weight:bold;
            width:30%;
            text-align:center;
            margin-right:auto;
            margin-left:auto;
            margin-top:0px;
        }


        .jumbotronBottom{
            background-color:#66b3ff;
            align-content:center;
            text-align:center;
            margin-top:0px;
        }

        .jumbotronBottom h3{
            font-family: 'Adobe Devanagari';
            color:White;
        }

        .navbar-default{
            background-color:#66b3ff;
            font-family: 'Adobe Devanagari';
            font-weight: bold;
            width:100%;
            top: 0px;
            left:0px;
            right: 0px;
            padding:0;
            font-size: 20px;
        }
        .navbar-collapse{
            color:black;
        }
        navbar-collapse collapse{
            background-color:#66b3ff;
            width:100%;
        }
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
            margin-bottom:0px;
        }

        .navbar .navbar-collapse {
            text-align: center;
        }

        .container{
            width:100%;
            margin-bottom: 0px;
            color: white;
            padding:0;
        }

        .containerFooter{
            background-color:#66b3ff;
            color:black;
            font-family: 'Adobe Devanagari';
            font-weight:bold;
            font-size: 18px;
        }

        .containerFooter h4{
            font-size: 25px;
            font-weight: bold;
        }
        
        .col-sm-3 img{
            height: 5%;
            width: 5%;

        }

        .col-sm-3 h4{
            font-family: 'Adobe Devanagari';
            font-weight:bold; 
            color:black;           
        }
        .col-sm-3 p{
            font-family: 'Adobe Devanagari';
            font-weight:bold;
            color:black;
        }
        .col-sm-3 ul{
            font-family: 'Adobe Devanagari';
            font-weight:bold;
            color:black;
        }
        .col-sm-6 h4{
            font-family: 'Adobe Devanagari';
            font-weight: bold;
            color:black;
            font-size: 30px;
        }
        .col-sm-6 p{
            font-family: 'Adobe Devanagari';
            color: black;
            font-size: 20px;
        }
        .col-sm-6 h3{
            font-family: 'Adobe Devanagari';
            color: black;
            font-size: 40px;
        }
        .col-sm-6 h5{
            font-family: 'Adobe Devanagari';
            color: black;
            font-size: 20px;
            width:85%;
        }
        .navbar-collapse a{
            font-weight: bold;
            color:black;
        }
        .col-sm-12 h1{
            font-family: 'Adobe Devanagari';
            color:black;
            font-weight: bold;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
        
        .containerBody{
            margin-right: 2%;
            margin-left: 2%;
        }
        .col-sm-12{
            margin-top:0px;
        }

        .col-sm-12 iframe{
            width: 100%;
            height: 400px;
        }

        .containerBody{
            margin-bottom:2%;
        }

        .Contact-Bottom-Info h5{
            color:black;
            font-family: 'Adobe Devanagari';
            font-weight: bold;
            font-size:35px;
            width: 75%;
            margin-left: auto;
            margin-right:auto;
        }

        .Contact-Bottom-Info{
            align-content: center;
        }

        .Contact-Info {
            margin-left: 40%;
        }
        .Contact-Info p{
            margin-left:4%;
        }
        .containerBody img{
            width:65%; 
            height: 82%;
            margin-left: 35%;
        }
        .col-sm-3 img{
            width:23%;
            height:141px;
        }